{% extends 'base.html' %}

{% block body %}
<form method="POST" action="/">
    <div class="mb-3">
        <h4 for="new-words" class="form-label" style="margin-bottom: 10px;">Your new words</h4>
        <textarea class="form-control" id="new-words" name="new-words" rows="10">{{new_words}}</textarea>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div class="mb-3" style="margin-top: 50px;">
    <h4 for="result" class="form-label" style="margin-bottom: 10px;">Result</h4>
    <div style="margin: 20px 0px;
        display: block;
        position: relative;
        border-left: 10px solid;
        border-radius: 3px;
        background-color: rgb(245, 247, 249);
        border-left-color: rgb(221, 40, 40);
        padding: 20px 30px;">
        <strong>REMEMBER</strong> to select <code>|</code> as the separator between the
        <strong>terminology</strong> and the
        <strong>definition</strong>,
        and select <code>\n\n</code> as the separator between <strong>cards</strong> in <a href="https://quizlet.com"
            style="text-decoration: none;"><strong>Quizlet</strong></a>.
    </div>
    <textarea class="form-control" id="result" name="result" rows="10">{{result}}</textarea>
</div>

{% endblock %}